@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
/* inizio body */
.container{
    padding: 0 20px;
    width: 70%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
   
}
/* inizio header */
header{
    height: 200px;
    margin-top: 10px;
}
div .img{
    height: 100px;
    width: 150px;
     display: inline-block;
     padding-right: 10px;
     border-right: 2px solid #F6F7F8 ;
}
nav {
    padding: 20px 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li a {
    color: grey;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 30px;
}
li {
    list-style: none;
}
   
a {
       text-decoration: none;
}
/* inizio main */
.sezione1{
    height:400px;
    margin-top: 20px;
    background-image: url(/img/banner.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
    filter: brightness(90%);

}
h3{
    font-size: 20px;
    color:white;
    padding-top: 250px;
    padding-left: 60px;
    filter: none;
}
p{
    color: #D9DDEF;
    font-size:15px;
    padding-left: 60px;
}
.sezione2{
    height: 400px;
    
    margin-bottom:20px;
}
.sezione2::after{
    content:'';
    display: table;
    clear:both;
}

/* vari float */
/* main */
.top{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    background-color:white;
}
h1{
    font-weight: 900;
    font-size: 25px;
}
span{
    font-size: 10px;
    color: #B8B8B8;

}
.right{
    height: 100%;
    width: 25%;
   
}
.left{
    height: 100%;
    width: 25%;
    
}
.imageleft{
    background-image: url(/img/img-1.jpg);
    background-size: 100% 100%;
    height: 50%;
    width: 100%;
    border-radius: 10px;
    filter: brightness(80%);
    
}
.imageright{
    background-image: url(/img/img-3.jpg);
    background-size: 100% 100%;
    height: 50%;
    width: 100%;
    border-radius: 10px;
    filter: brightness(80%);
}
.imagecenter{
    background-image: url(/img/banner-2.jpg);
    background-size: 100% 100%;
    height: 50%;
    border-radius: 10px;
    filter: brightness(80%);
}
.sezione2 p{
    padding-left: 3px;
    font-size: 20px;
    color: #B8B8B8;
    font-weight: 300;
}


.float.center{
    margin: 0 10px;
    width: calc(50% - 20px);
}
.float{
    float:left;
    height: 80%;
    margin-bottom: 20px;

}
/* fine main */
/* inizio footer */
footer{
    height:50px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;

    
}
footer span{
    color: black;
}
footer span::after{
    content: '\2665';
    color: red;
    font-size: 30px;

    
}
/* fine float */

